  .dropdown-menu {
  z-index: 3;
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    padding: 10px ;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    margin: 5px 0;
    list-style: none;
  }
  .dropdown-menu ul{
    list-style: none;
  }
 