#about-us {
  background-color: #f6f6f6;
  padding: 50px 0;
  text-align: center;
  font-size: 4rem;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.member {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px 40px;
  padding: 30px;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease;
  width: 300px;
}

.member:hover {
  transform: translateY(-10px);
}

.member img {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 20px;
  width: 150px;
}

.member h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.member p {
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
}

.contact-info {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-info:hover {
  background-color: #555;
}

.slide-down {
  background-color: #e65454;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 90%;
  z-index: 1;
}

.slide-down p {
  margin: 0;  color: #ffffff;
  padding: 5px 0;
}

.slide-down:after {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -10px;
}

.slide-down.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .team {
    flex-direction: column;
  }
  
  .member {
    margin: 0 0 40px;
    width: calc(100% - 40px);
  }
}

@media only screen and (min-width: 768px) {
  .member:hover .slide-down {
    display: block;
  }
}